<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= sort_link(@q, :title) %></th>
      <th><%= sort_link(@q, :display_artist) %></th>
      <th><%= sort_link(@q, :ranking) %></th>
      <th><%= sort_link(@q, :year) %></th>
    </tr>
  </thead>
  <tbody>
    <% @songs.each do |song| %>
    <tr>
      <td><%= song.title %></td>
      <td>
        <% song.artists.each do |artist| %>
      <% song.display_artist.gsub!(/#{artist.name}/) {link_to artist.name, artist_path(artist)} %>
    <% end %>
    <%= song.display_artist.html_safe %>
      </td>
      <td><%= song.ranking %></td>
      <td><%= song.year %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @songs %>